           <!--content end-->	
                <!--share-wrapper-->
                <div class="share-wrapper">
                        <div class="share-container fl-wrap  isShare"></div>
                    </div>
                    <!--share-wrapper end-->
               
                <!-- wrapper end -->
                <!-- sidebar -->
                <div class="sb-overlay"></div>
                <div class="hiiden-sidebar-wrap outsb">
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                        <div class="sb-widget  fl-wrap">
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,  </p>
                            <div class="subcribe-form fl-wrap">
                                <form id="subscribe">
                                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                    <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                    <label for="subscribe-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end--> 
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Instagram Photos</h3>
                        <div class="sb-widget fl-wrap">
                            <div class='jr-insta-thumb' id="insta-content" data-instatoken="3075034521.5d9aa6a.284ff8339f694dbfac8f265bf3e93c8a">
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end--> 
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>We're Are Social</h3>
                        <div class="sb-widget    fl-wrap">
                            <div class="sidebar-social fl-wrap">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->                                   
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Our Last Twitts</h3>
                        <div class="sb-widget  fl-wrap">
                            <div id="footer-twiit"></div>
                            <a href="#" target="_blank" class="twitt_btn fl-wrap">Follow Us</a>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->    
                </div>
                <!-- sidebar end -->
                <!-- cursor-->
                <div class="element">
                    <div class="element-item"></div>
                </div>
                <!-- cursor end-->     
            </div>
            <!-- Main end -->
            <!--=============== scripts  ===============-->
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/js/plugins.js"></script>
            <script type="text/javascript" src="/static/js/scripts.js"></script>