<header class="main-header">
        <!-- logo   -->
        <a href="index.html" class="logo-holder"><img src="images/logo.png" alt=""></a>  
        <!-- logo end  -->		
        <!-- search -->				
        <div class="search-button"><i class="far fa-search"></i></div>
        <div class="search-input"><input name="se" id="se" type="text" class="search" placeholder="Search.." /></div>
        <!-- search end  -->
        <div class="sb-button"></div>
        <div class="share-btn showshare"><i class="fal fa-megaphone"></i><span>Share</span></div>
        <!-- mobile nav -->
        <div class="nav-button-wrap">
            <div class="nav-button"><span></span><span></span><span></span></div>
        </div>
        <!-- mobile nav end-->				
        <!--  navigation -->
        <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <li>
                        <a href="#" class="act-link">Home </a>
                        <!--second level -->
                        <ul>
                            <li><a href="index.html">Carousel</a></li>
                            <li><a href="index2.html">Slider Details</a></li>
                            <li><a href="index3.html">Multi Slideshow</a></li>
                            <li><a href="index4.html">Slideshow</a></li>
                            <li><a href="index5.html">Image</a></li>
                            <li><a href="index6.html">Slider Classic</a></li>
                            <li><a href="index7.html">Video</a></li>
                        </ul>
                        <!--second level end-->
                    </li>
                    <li>
                        <a href="#">Portfolio </a>
                        <!--second level -->
                        <ul>
                            <li><a href="portfolio.html">Horizontal 2 Columns</a></li>
                            <li><a href="portfolio2.html">Horizontal 3 Columns</a></li>
                            <li><a href="portfolio3.html">Horizontal 1 Columns</a></li>
                            <li><a href="portfolio4.html">Masonry</a></li>
                            <li><a href="portfolio5.html">Masonry 2</a></li>
                            <li><a href="portfolio6.html">Column Grid</a></li>
                            <li>
                                <a href="#">Single </a>
                                <!--third  level -->
                                <ul>
                                    <li><a href="portfolio-single.html">Carousel</a></li>
                                    <li><a href="portfolio-single2.html">Fullscreen Slider </a></li>
                                    <li><a href="portfolio-single3.html">Column Grid</a></li>
                                    <li><a href="portfolio-single4.html">Column Fullwidth</a></li>
                                </ul>
                                <!--third level end-->
                            </li>
                        </ul>
                        <!--second level end-->
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="blog.html">News</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- navigation  end -->               
    </header>